In [1]:
# Curso Tera DataScience e ML - Desafio de inferência
# Importa bibliotecas
import pandas as pd
import numpy as np

In [ ]:
# Leitura do banco de dados
df_demo = pd.read_csv(r"C:\Users\HP\Desktop\2022\tera\desafio_infe\demo_phq.csv")

In [ ]:
df_demo

In [9]:
# Exibe informações da base
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5334 entries, 0 to 5333
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      5334 non-null   int64
 1   DPQ010    4836 non-null   float64
 2   DPQ020    4836 non-null   float64
 3   DPQ030    4836 non-null   float64
 4   DPQ040    4836 non-null   float64
 5   DPQ050    4836 non-null   float64
 6   DPQ060    4836 non-null   float64
 7   DPQ070    4836 non-null   float64
 8   DPQ080    4836 non-null   float64
 9   DPQ090    4836 non-null   float64
 10  RIAGENDR  5334 non-null   int64
 11  RIDAGEYR  5334 non-null   int64
 12  RIDRETH1  5334 non-null   int64
 13  DMDEDUC   5334 non-null   int64
 14  INDFMINC  5287 non-null   float64
dtypes: float64(10), int64(5)
memory usage: 625.2 KB

In [10]:
# Tratamento dos dados
# Retirar registros nulos
# Verifica a existência de registros nulos
df_demo.isnull()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,RIAGENDR,RIDAGEYR,RIDRETH1,DMDEDUC,INDFMINC
0,False,True,True,True,True,True,True,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5329,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5330,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5331,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5332,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5333,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
# Exclui registros nulos
n_df_demo = df_demo.dropna()

In [12]:
# verifica exclusão
n_df_demo.isnull()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,RIAGENDR,RIDAGEYR,RIDRETH1,DMDEDUC,INDFMINC
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5329,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5330,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5331,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5332,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5333,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [4]:
# Cria lista de tipos de resposta
lista_resposta = ['DPQ010','DPQ020','DPQ030','DPQ040','DPQ050','DPQ060','DPQ070','DPQ080','DPQ090']
lista_resposta
# Construir função para fazer update com valor médio para as respostas 7 e 9
#def dpq()

['DPQ010',
 'DPQ020',
 'DPQ030',
 'DPQ040',
 'DPQ050',
 'DPQ060',
 'DPQ070',
 'DPQ080',
 'DPQ090']

In [5]:
df_demo

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,RIAGENDR,RIDAGEYR,RIDRETH1,DMDEDUC,INDFMINC
0,31130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,85,3,4,4.0
1,31131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,44,4,4,11.0
2,31132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,70,3,5,11.0
3,31134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,73,3,3,12.0
4,31139,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,2,18,2,3,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5329,41466,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2,58,5,2,3.0
5330,41468,0.0,2.0,0.0,1.0,1.0,2.0,1.0,3.0,0.0,2,66,1,1,8.0
5331,41469,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,19,4,4,2.0
5332,41472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,34,3,4,7.0
5333,41473,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,1,21,1,2,6.0

In [ ]:
# Verifica primeira pergunta pesquisa q sejam 9
# n_df_demo[['DPQ010']] = [n_df_demo['DPQ010'] == 9]
for x in lista_resposta:
   while x == "DPQ010" :
      if (df_demo[x] == 1.0).any(): #or n_df_demo[x] == 9.0).any():
           print(df_demo[x])

In [ ]:
df_demo

In [61]:
# Update de todas as resposta 9 para resósta média
n_df_demo['DPQ010'] = n_df_demo.apply(lambda x: x['DPQ010']+9, axis=1)

C:\Users\HP\AppData\Local\Temp/ipykernel_5500/3640131385.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_df_demo['DPQ010'] = n_df_demo.apply(lambda x: x['DPQ010']+9, axis=1)

In [62]:
n_df_demo[['DPQ010']] = [n_df_demo['DPQ010'] == 9]

ValueError: Columns must be same length as key

In [34]:
# Preencer com a média retistros onde os campos temham sido respondidos com 7 ou 9

n_df_demo[n_df_demo.DPQ101==9]['DPQ101'] = n_df_demo[DPQ101].mean()

Empty DataFrame
Columns: [DPQ020]
Index: []

In [14]:
new_df_demo2

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,RIAGENDR,RIDAGEYR,RIDRETH1,DMDEDUC,INDFMINC
5,31143,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1,19,3,4,11.0
11,31153,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2,44,5,3,3.0
17,31162,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2,71,3,3,6.0
19,31167,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,37,3,4,11.0
22,31177,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2,18,4,2,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5282,41383,0.0,1.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,1,22,4,4,5.0
5286,41389,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2,25,2,1,2.0
5298,41414,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2,22,3,5,8.0
5325,41461,3.0,1.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,1,85,3,1,5.0
5327,41464,2.0,1.0,2.0,3.0,2.0,0.0,0.0,0.0,0.0,2,60,3,3,9.0